
body{
margin: 0;  

}

/* header */

.header{
/* width: 1440px; */
/* height: 72px; */
background: #fff;
/* display: flex; */
}

.header-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
/* padding-left: 156px; */
/* padding-right: 76px; */
/* padding-top: 24px; */
/* padding-bottom: 24px; */
}

.header-nav{
color: #2E2F42;
}

.header-nav-list{
/* width: 261px; */
/* height: 24px; */
/* padding-top: 24px; */
/* padding-bottom: 24px; */
margin: 0;
/* padding-right: 332px; */
/* padding-left: 0; */
/* gap: 40px; */
/* display: flex; */
}

.header-nav-list-item{
/* display: inline; */
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-address{
line-height: 24px;
}

.header-address-list{
/* gap: 40px; */
/* display: flex; */
/* padding-top: 24px; */
/* padding-bottom: 24px; */
/* padding-right: 156px; */
/* padding-left: 0; */
margin: 0;
}

.header-address-list-item{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}




/*main*/

.main{  
}

/*main-title*/

.title{
/* width: 1440px; */
/* height: 600px; */
background-color: #2E2F42;
margin-bottom: 120px; 
}

.title-title{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: white;
text-align: center;
/* padding-left: 472px; */
/* padding-right: 472px; */
/* padding-top: 188px; */
/* padding-bottom: 48px; */
margin: 0px;

}

.title-button{
color: white;
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
/* align-items: center; */
margin-left: 636px;
margin-right: 635px;
margin-bottom: 188px;
/* border-radius: 4px; */
/* width: 169px; */
/* height: 56px; */
border: 0;
/* padding: 0; */
}

/*main-characteristic*/

.characteristic{
margin-bottom: 120px;  
}

.characteristic-list{
/* display: flex; */
/* gap: 24px; */
/* padding-left: 156px; */
/* padding-right: 156px; */
margin: 0;
justify-content: center;
/* width: 1128px; */
/* height: 104px; */
}

.characteristic-list-item{
/* width: 264px; */
/* height: 104px; */
}

.characteristic-list-item-name{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin: 0;
}

.characteristic-list-item-description{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin: 0;
}

/*main-our-team*/

.ourteam{
background-color: #F4F4FD;
/* width: 1440px; */
/* height: 732px; */
margin-bottom: 120px;  
}

.ourteam-title{
/* padding-top: 120px; */
/* padding-bottom: 72px; */
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin: 0;
}

.ourteam-list{
/* display: flex; */
/* gap: 24px; */
/* padding-bottom: 120px; */
/* padding-left: 156px; */
/* padding-right: 156px; */
margin: 0;
}

.ourteam-list-item{
text-align: center;
background-color: white;
/* width: 264px; */
/* height: 380px; */
}

.ourteam-list-item-image{
/* width: 264px; */
/* height: 260px; */
}

.ourteam-list-item-name{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.ourteam-list-item-title{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/*main-our-portfolio*/

.ourportfolio{
background-color: white;
/* width: 1128px; */
/* height: 1000px; */
margin-bottom: 120px;
/* padding-left: 156px; */
/* padding-right: 156px; */
}

.ourportfolio-title{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin: 0;
/* padding-bottom: 72px; */
text-transform: capitalize
}

.ourportfolio-list{
/* display: flex; */
/* padding: 0; */
margin: 0;
flex-wrap: wrap;
/* gap: 24px; */
}

.ourportfolio-list-item{
}

.ourportfolio-list-item-image{
/* width: 360px; */
/* height: 300px; */
}

.ourportfolio-list-item-name{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.ourportfolio-list-item-description{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}



/*footer*/

.footer{
/* width: 1440px; */
/* height: 312px; */
background-color: #2E2F42;  
}

.footer-list{
/* width: 264px; */
/* height: 112px; */
/* padding-left: 156px; */
/* padding-right: 1020px; */
/* padding-top: 100px; */
/* padding-bottom: 100px; */
margin: 0;
}

.footer-list-item{
}

.footer-list-item-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}

.footer-list-item-motivation-phrase{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
margin: 0;
/* padding-top: 16px; */
}



/*other-styles*/

a{
text-decoration: none;
color: currentColor;
font-style: normal;
}

ul{
list-style-type: none;
}

h2, h3{
color: #2E2F42;
}
